<main id="main" class="main d-flex flex-column align-items-center h-75 justify-content-around">
  <div class="align-self-start ms-5">
    <img id="stepArrow" src="/img/component/idle.png" alt="">
  </div>
  <div class="">
    <img id="stepImg" src="/img/component/Component1.png" alt="">
  </div>
  <section class="h-75 w-75 d-flex justify-content-center" id="changeStep">
    <div id="cleanForRenew1" class="d-flex flex-column justify-content-center align-items-center h-50" >
      <div class="d-flex justify-content-between h-100">

            <div class="card w-100 h-100">
              <div id="block-bdd" class="card-body d-flex flex-column align-content-center h-100" style="padding: 10px 50px 20px;" > 
                <h4 class="mt-4 mb-4">Base de données</h4>
                <div id="databasePoemsV5" class="d-flex justify-content-between mb-4" >

                  <% if (dataString.length === 0) { %>
                    <p>Aucune donnée disponible.</p>
                  <% } else { %>
                    <select class="form-select w-50 me-5" id="bdd-v5">
                      <% dataString.forEach((data) => { %>
                        <option value="<%= data.name %>"><%= data.name %></option>
                      <% }) %>
                    </select>
                  <% } %>
                
                  <% if (dataString.length === 0) { %>
                    <p>Aucune donnée disponible.</p>
                  <% } else { %>
                    <select class="form-select w-50 me-5" id="bdd-v4">
                      <% dataString.forEach((data) => { %>
                        <option value="<%= data.name %>"><%= data.name %></option>
                      <% }) %>
                    </select>
                  <% } %>
                
                </div>

                <button id="refreshSchemas" class="displayBddV5 displayBddV4 btn btn-primary w-50 align-content-center align-self-center">Afficher schémas des bdd</button>
              </div>

            </div>

        </div>
      </div>




  </section>
  
    <%- include('scriptsJS') %>
    <%- include('scriptsBotstr') %>
</main>
