<!DOCTYPE html>
<html class="h-100 w-100">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>BddCompare</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    
    <%- include('../partials/links') %>


  </head>
  <body class="toggle-sidebar h-100 w-100">
    <!-- Utilisez la balise EJS include pour inclure le layout de l'en-tête -->
    <%- include('../partials/header') %>
    <!-- Utilisez la balise EJS include pour inclure le contenu de chaque page -->
    
    <div class="container">
        <h1 class="mt-5 white-h1">Création de lignes de connections à des bases de données</h1>
        <form action="/data/create" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label white-label">Nom</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>

          <div class="mb-3">
            <label for="user" class="form-label white-label">Utilisateur :</label>
            <input type="text" class="form-control" id="user" name="user" value="<%= data.user %>" required>
          </div>
    
          <div class="mb-3">
            <label for="host" class="form-label white-label">Hôte :</label>
            <input type="text" class="form-control" id="host" name="host" value="<%= data.host %>" required>
          </div>
    
          <div class="mb-3">
            <label for="database" class="form-label white-label">Base de données :</label>
            <input type="text" class="form-control" id="database" name="database" value="<%= data.database %>" required>
          </div>
    
          <div class="mb-3">
            <label for="password" class="form-label white-label">Mot de passe :</label>
            <input type="password" class="form-control" id="password" name="password" value="<%= data.password %>" required>
          </div>
    
          <div class="mb-3">
            <label for="port" class="form-label white-label">Port :</label>
            <input type="number" class="form-control" id="port" name="port" value="<%= data.port %>" required>
          </div>
    
          <button type="submit" class="btn btn-primary">Créer</button>
        </form>
      </div>

    <%- include('../partials/scriptsBotstr') %>

    <!-- Utilisez la balise EJS include pour inclure le layout du pied de page -->
    <%- include('../partials/footer') %>
  </body>
</html>
